html {
  scroll-behavior: smooth;
  overflow-y: hidden;
}

html.no-overflow {
  overflow-y: hidden;
};

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";


