*.har
*.warc
*.warc.gz
!examples/*.warc
**/node_modules
yarn-error.log
coverage/
**/local-examples/
**/.DS_Store
**/.sass-cache/
**/__pycache__/
_genhtml/
dist/
plugins-*/
site/sw.js
site/ui.js
site/assets/
.jekyll-cache

ipfs-core.min.js
site/apple-touch-icon.png
site/favicon.ico
site/icon-192.png
site/icon-512.png
site/icon.svg
