*.har
*.warc
*.warc.gz
**/node_modules
yarn-error.log
coverage/
**/local-examples/
**/.DS_Store
**/.sass-cache/
**/__pycache__/
dist/
plugins-*/
!mkdocs/site/docs/examples/*.warc
mkdocs/_genhtml/
mkdocs/site/sw.js
mkdocs/site/ui.js
mkdocs/site/index.html
mkdocs/site/embed.html
mkdocs/site/webmanifest.json
mkdocs/site/favicons
mkdocs/site/ruffle
ipfs-core.min.js
