*.har
*.warc
*.warc.gz
!examples/*.warc
**/node_modules
yarn-error.log
coverage/
**/local-examples/
**/.DS_Store
**/.sass-cache/
_data/
_site/
dist/
ui.js
sw.js
plugins-*/
.jekyll-cache

ipfs-core.min.js
