$rwp-green: #55be6f;
$rwp-yellow: #f5c71a;
$rwp-blue: #4876ff;
//$link-color: #27a0ff;
$link-color: #384ea2;

//$content-width: 960px;
$nav-width-md: $nav-width;

.side-bar {
  @include mq(md) {
    //max-width: calc(0.5rem + #{$nav-width});
    max-width: $nav-width;
  }
}

.site-title {
  padding-right: 1.5rem !important;
}

.rwp-logo-font {
  font-variant-caps: all-small-caps;
  font-size: 20px;
  font-weight: bold;
}

.rwp-green {
  color: $rwp-green;
}

.rwp-yellow {
  color: $rwp-yellow;
}

.rwp-blue {
  color: $rwp-blue;
}
