/* Font style definitions */

@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    src: url('../assets/fonts/Recursive_VF_1.084.woff2') format('woff2');
    font-feature-settings: "ss12";
}

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    src: url('../assets/fonts/Inter.var.woff2') format('woff2');
    font-feature-settings: "ss03";
}

@font-face {
    font-family: 'Inter';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    src: url('../assets/fonts/Inter-Italic.var.woff2') format('woff2');
    font-feature-settings: "ss03";
}
  
:root {
    --md-code-font: "Recursive", monospace;
    --md-text-font: "Inter", "Helvetica", "Arial", sans-serif;
    --wr-blue-primary: #2E7CAB;
    --wr-orange-primary: #B85D20;
}

[data-md-color-scheme="webrecorder"] {
    --md-primary-fg-color: #3b3b3b;
    --md-typeset-color: black;
    --md-accent-fg-color: #078ccf;
    --md-typeset-a-color: #025be0;
    --md-code-bg-color: #F9FAFB;
  }

/* Nav changes */

.md-header__title--active {
    font-family: var(--md-text-font);
    font-weight: 600;
}

/* Custom menu item hover */

.md-tabs__link {
    font-family: var(--md-code-font);
    font-weight: 400;
    opacity: .9;
    transition: .4s cubic-bezier(.1,.7,.1,1),opacity .25s
}

.md-tabs__link:hover {
    font-weight: 600;
}

/* Custom body typography rules */

.md-typeset a {
    text-decoration: underline;
}

.headerlink {
    text-decoration: none!important;
}

code, pre, kbd {
    font-variation-settings: "MONO" 1;
    font-feature-settings: "ss01", "ss02", "ss08";
}

code {
    border-width: 1px;
    border-color: #D1D5DB;
    border-style: solid;
}

.md-typeset h1, h2, h3, h4, h5 {
    color: black;
}

.md-typeset h1, h2, h3 {
    font-weight: 650 !important;
    font-variation-settings: "OPSZ" 35;
}

/* Custom badge classes, applies custom overrides to inline-code blocks */

.badge-blue {
    background-color: var(--wr-blue-primary) !important;
    border-color: var(--wr-blue-primary) !important;
    color: white !important;
    font-family: var(--md-text-font);
    font-weight: 600;
}

.badge-orange {
    background-color: var(--wr-orange-primary) !important;
    border-color: var(--wr-orange-primary) !important;
    color: white !important;
    font-family: var(--md-text-font);
    font-weight: 600;
}
