@charset "utf-8";

/*$wr-green: #64e986;*/
$wr-green: #55be6f;
$wr-yellow:  #ffd975;
$wr-light-blue: #43daff;
$wr-med-blue: #27a0ff;
$wr-dark-blue: #4876ff;
$wr-accent: #1b0921;
$wr-light-bg: #f0f8ff;

$wr-light-green: #d2f9d6;
$wr-dark-green: #459558;

$primary: $wr-green;
$info: $wr-light-bg;
$warning: $wr-yellow;
$link: $wr-dark-blue;

$light: $wr-light-green;
$dark: $wr-dark-green;

$navbar-breakpoint: 800px;

.main-scroll {
  flex: 1;
  scroll-behavior: smooth;
  overflow-y: auto;
  max-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}


@import "../node_modules/bulma/bulma";

// Add html and body styles to :host for webcomponents
:host {
  background-color: $body-background-color;
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: $body-min-width;
  overflow-x: $body-overflow-x;
  overflow-y: $body-overflow-y;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;

  font-family: $body-family;
  color: $body-color;
  font-size: $body-font-size;
  font-weight: $body-weight;
  line-height: $body-line-height;

  box-sizing: border-box;
  overflow: hidden;
}
