site_name: ReplayWeb.page Docs
repo_url: https://github.com/webrecorder/replayweb.page
repo_name: ReplayWeb.page
edit_uri: edit/main/docs/
extra_css:
    - stylesheets/extra.css
extra_javascript:
    - js/sw.js
theme:
  name: material
  custom_dir: docs/overrides
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.footer
    - content.code.copy
    - content.action.edit
  palette:
    scheme: webrecorder
  logo: assets/brand/logo.svg

  icon:
    admonition:
      note: bootstrap/pencil-fill
      abstract: bootstrap/file-earmark-text-fill
      info: bootstrap/info-circle-fill
      tip: bootstrap/exclamation-circle-fill
      success: bootstrap/check-circle-fill
      question: bootstrap/question-circle-fill
      warning: bootstrap/exclamation-triangle-fill
      failure: bootstrap/x-octagon-fill
      danger: bootstrap/exclamation-diamond-fill
      bug: bootstrap/bug-fill
      example: bootstrap/mortarboard-fill
      quote: bootstrap/quote

    repo: bootstrap/github
    edit: bootstrap/pencil
    view: bootstrap/eye

nav:
  - index.md
  - Develop:
    - Embedding:
      - develop/embedding.md
      - develop/cors-settings.md
      - develop/locations.md
  - User Guide:
    - user-guide/index.md
    - user-guide/loading.md
    - user-guide/exploring.md
    - user-guide/sharing.md
    - user-guide/offline-use.md

markdown_extensions:
  - toc: 
      toc_depth: 3
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
      options:
        custom_icons:
          - docs/overrides/.icons
  - admonition
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.keys
  - def_list
  - attr_list

extra:
  generator: false
  social:
    - icon: bootstrap/globe
      link: https://webrecorder.net
    - icon: bootstrap/chat-left-text-fill
      link: https://forum.webrecorder.net/
    - icon: bootstrap/mastodon
      link: https://digipres.club/@webrecorder
    - icon: bootstrap/youtube
      link: https://www.youtube.com/@webrecorder
  # Use with {{ rwp_version }}
  rwp_version: 1.8.14
copyright: "Creative Commons Attribution 4.0 International (CC BY 4.0)"

plugins:
  - macros
