name: Playwright Integration

on:
  push:
  pull_request:

jobs:
  playwright:
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'yarn'

      - name: Yarn Install
        run: yarn install --frozen-lockfile

      - name: Yarn Build
        run: yarn build

      - name: Playwright Install Browsers
        run: yarn playwright install

      - name: Playwright Run Tests
        run: yarn run playwright test
