name: site-publish
on:
  push:
    branches:
      - main
    paths:
      - 'site/**'
      - 'mkdocs/**'
      - 'src/**'
      - 'package.json'
      - 'yarn.lock'

permissions:
  contents: write

jobs:
  deploy_site:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'yarn'

      - name: Yarn Install
        run: yarn install --frozen-lockfile

      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install -r mkdocs/requirements.txt

      - name: Build RWP + Docs
        run: yarn run build-docs

      - name: Publish to GH
        run: cd mkdocs; mkdocs gh-deploy --force
